<%= form_with(model: basic, local: true) do |form| %>
  <% if basic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(basic.errors.count, "error") %> prohibited this basic from being saved:</h2>

      <ul>
      <% basic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex %>
  </div>

  <div class="field">
    <%= form.label :class %>
    <%= form.text_field :class %>
  </div>

  <div class="field">
    <%= form.label :race %>
    <%= form.text_field :race %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
